<div class="saveProfileContainer">
  <h1 class="profileTitle">Profile</h1>

  <div class="imageCon">
    <img
      class="image"
      [src]="profileInfo?.profilePicture || 'assets/images/default.jpg'"
      alt="defaultImg"
    />
  </div>

  <div class="profileInfoContainer">
    <div class="getProfileInfo">
      <p class="tags">First Name:</p>
      <p>{{ profileInfo?.firstName }}</p>
    </div>
    <div class="getProfileInfo">
      <p class="tags">Last Name:</p>
      <p>{{ profileInfo?.lastName }}</p>
    </div>
    <div class="getProfileInfo">
      <p class="tags">Email:</p>
      <p>{{ profileInfo?.email }}</p>
    </div>

    <div class="getProfileInfo">
      <p class="tags">Phone Number:</p>
      <p>{{ profileInfo?.phoneNumber }}</p>
    </div>

    <button (click)="editProfileInfo()" class="editButton">Edit</button>
  </div>
</div>
